:root {
  --background: var(--c3);
  --foreground: var(--c1);
  --c1: #ffffff;
  --c4: #E63946;
  --c3: #191a29;
  --c2: #E3C7A6;
  --c5: #0ec7e4;

}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);

  font-family: var(--my-font), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}