.FooterContainer {
  border-top: 1px solid var(--c2);
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 0 2em 0;
  padding-top: 1em;
}

.FooterTop {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1.5fr;
  gap: 1em;
  padding: 2em 0;
  border-bottom: 1px solid var(--c2);
}

.FooterLinksBox {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Icons {
  /* border: 1px solid black; */
  display: flex;
  gap: 1em;
  font-size: 2em;
  align-items: center;
}

.FooterLinksBox span {
  font-size: 1.3em;
  font-weight: 500;
  color: var(--c2);
}

.NewsLetter {
  display: flex;
  gap: 1em;
}

.NewsLetter input {
  border: none;
  font-size: 1em;
  padding: 10px;
  width: 400px;
  background-color: rgb(147, 149, 150);
  border-radius: 10px;
}

.NewsLetter button {
  font-size: 1em;
  padding: 0.3em 2em;
  border: none;
  border-radius: 10px;
  background-color: black;
}

.FooterText {
  text-align: center;
}
