.FooterContainer {
  border-top: 1px solid var(--c2);
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 0 2em 0;
  padding: 1em 0;
  background-color: black;

}

.FooterTop {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1.5fr;
  gap: 1em;
  padding: 2em 3em;
  border-bottom: 1px solid var(--c2);
}

.FooterLinksBox {
  /* border: 1px solid rgb(255, 255, 255); */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Icons {
  /* border: 1px solid black; */
  display: flex;
  gap: 1em;
  font-size: 2em;
  align-items: center;
}

.FooterLinksBox span {
  font-size: 1.3em;
  font-weight: 500;
  color: var(--c2);
}

.NewsLetter {
  display: flex;
  gap: 1em;
}

.NewsLetter input {
  border: none;
  font-size: 1em;
  padding: 10px;
  max-width: 280px;
  width: 400px;
  background-color: rgb(147, 149, 150);
  border-radius: 10px;
}

.NewsLetter button {
  font-size: 1em;
  padding: 0.3em 2em;
  border: none;
  border-radius: 10px;
  background-color: black;
}

.FooterText {
  text-align: center;
}

@media screen and (max-width:1075px) {
  .FooterTop {
    grid-template-columns: 1fr;
    gap: 2em;
  }
}

@media screen and (max-width:600px) {
  .FooterTop {
    padding: 2em 1em;
  }

  .NewsLetter {
    flex-direction: column;
  }
}