.MintDiv {
  /* border: 1px solid rgb(0, 0, 0); */
  padding: 2em 1em;
  min-height: fit-content;
}



.ContentContainer {
  /* border: 1px solid rgb(0, 0, 0); */
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;

}

.ContentLeft {
  width: fit-content;
  border: 4px solid rgb(77, 77, 77);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1.5em 1.5em 1em 1.5em;
  background-color: rgba(0, 0, 0, 0.664);
  border-radius: 1em;
  /* display: none; */
}

.ContentLeft img {
  width: 400px;
  /* height: 450px; */
  border-radius: 1em;
  padding: 10px;
  box-shadow: 2 2 15px solid white;
}

.ContentLeft span {
  font-size: 2em;
  color: white;
}

.ContentLeft button {
  color: black;
  background-color: var(--c4);
  font-size: 2em;
  padding: 10px 2em;
  border-radius: 10px;
  border: 4px solid white;

}

.ContentRight {
  width: 50%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.DescDiv {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: rgba(0, 0, 0, 0.664);
  border: 4px solid white;
  padding: 2em 1em;
  border-radius: 1em;
}

.DescDiv span {
  color: white;
  font-size: 1.7em;
  font-weight: 700;
  text-align: center;

}

.ButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.ButtonsContainer button {
  width: 20em;
  font-size: 1.3em;
  padding: 0.4em 0;
  border-radius: 10px;
  border: 4px solid white;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
}

.ButtonsContainer button:nth-child(1) {
  background-color: rgba(128, 225, 238, 0.767)
}

.ButtonsContainer button:nth-child(2) {
  background-color: rgba(241, 170, 170, 0.767)
}

.IconsContainer {
  display: flex;
  justify-content: space-around;
  padding: 1em 0 0 0;
}

.IconsContainer a {
  font-size: 3em;
}

.MintCountBox {
  background-color: rgb(0, 0, 0);
  padding: 2em;
  border-radius: 1em;
  border: 4px solid white;

}

.MintCountBox span {
  font-size: 1.7em;
  font-weight: 700;
}

.MintPercent {
  font-size: 1.7em;
  font-weight: 700;

}

.Counttext {
  display: flex;
  width: 100%;
  /* border: 1px solid white; */
  flex-direction: row;
  align-items: center;

}