.MintDiv {
  /* border: 1px solid rgb(0, 0, 0); */
  padding: 2em 1em;
  min-height: fit-content;
}

.MintDiv h3 {
  font-weight: 500;
  text-align: center;
  font-family: var(--font-rockSalt);
  font-size: 2em;
  color: var(--c4);
}

.ContentContainer {
  /* border: 1px solid rgb(0, 0, 0); */
  margin: 1em;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 2em;
}

.ContentLeft {
  width: 30%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
}

.ContentLeft img {
  width: 100%;
  /* height: 450px; */
  border-radius: 1em;
  padding: 10px;
  box-shadow: 2 2 15px solid white;
}

.ContentRight {
  width: 60%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.SymbolDiv {
  display: flex;
  gap: 10px;
  align-items: center;
}

.SymbolDiv span:nth-child(1),
.DescDiv span:nth-child(1),
.MintCountBox span:nth-child(1) {
  color: var(--c2);
  font-weight: 600;
  font-size: 1.3em;
}

.MintPercent {
  color: black;
  position: absolute;
  top: -25px;
  right: 10px;
}

.MintCountBox {
  /* border: 1px solid black; */
}

.DescDiv {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.DescDiv p {
  font-size: 1em;
  padding-left: 10px;
}

.CardBox {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}

.MintBox {
  /* border: 1px solid black; */
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  padding: 0.8em 1.2em;
  border-radius: 1em;
  background-color: rgba(109, 109, 109, 0.527);
}

.MintDetails {
  display: flex;
  justify-content: space-between;
}

.MintBoxLeft {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.MintBoxLeft span:nth-child(1) {
  font-weight: 600;
  font-size: 1.3em;
  color: var(--c2);
}

.MintBoxLeft span:nth-child(2) {
  font-weight: 600;
  font-size: 1.2em;
  color: var(--c4);
}

.MintBoxRight {
  display: flex;
  align-items: center;
  font-family: var(--font-tektur);
  font-weight: 400;
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}

.MintBox button {
  font-size: 1em;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-family: var(--font-rockSalt);
  cursor: pointer;
}
