.MintDiv {
  padding: 2em 1em;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}

.MintDiv span {
  text-align: center;
  font-size: 6em;
}

.ContentContainer {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.ContentLeft {
  width: fit-content;
  border: 4px solid rgb(77, 77, 77);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1.5em 1.5em 1em 1.5em;
  background-color: rgba(0, 0, 0, 0.664);
  border-radius: 1em;
  /* display: none; */
}

.ContentLeft img {
  width: 400px;
  max-width: 100%;
  /* height: 450px; */
  border-radius: 1em;
  padding: 10px;
  box-shadow: 2 2 15px solid white;
}

.ContentLeft span {
  font-size: 2em;
  color: white;
}

.ContentLeft button {
  color: black;
  background-color: var(--c4);
  font-size: 2em;
  padding: 10px 2em;
  border-radius: 10px;
  border: 4px solid white;
}

.ContentRight {
  width: 50%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.DescDiv {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.664);
  border: 4px solid rgb(88, 88, 88);
  padding: 2em 1em;
  border-radius: 1em;
  color: var(--c5);
}

.DescDiv span {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.DescDiv span:nth-child(1) {
  text-shadow: 2px 2px 20px var(--c5);
}

.IconsContainer {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  gap: 1.5em;
  border: 3px solid white;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.514);
}

.IconsContainer a {
  font-size: 2em;
  display: flex;
}

.MintCountBox span {
  font-size: 1.7em;
  font-weight: 700;
}

.MintPercent {
  font-size: 2em;
  font-weight: 700;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--c5);
  text-shadow: var(--c5);
}

.ContentRight button {
  display: flex;
  width: fit-content;
  font-size: 3em;
  font-family: var(--my-font);
  padding: 0.1em 1em;
  align-self: center;
  border-radius: 2em;
  box-shadow: 0 0 20px rgb(110, 109, 109);
  border: none;
  color: black;
  cursor: pointer;
  background: rgb(92, 225, 230);
  background: linear-gradient(
    108deg,
    rgba(92, 225, 230, 1) 0%,
    rgba(140, 82, 255, 0.5494572829131652) 100%
  );
}

@media screen and (max-width: 978px) {
  .ContentContainer {
    flex-direction: column;
  }

  .ContentRight {
    width: 100%;
    flex-direction: column-reverse;
  }

  .MintDiv span {
    font-size: 3em;
  }
}

@media screen and (max-width: 600px) {
  .MintDiv {
    padding: 2em 0;
  }
}
