.navbarContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;


}

.Top {
    /* border: 1px solid black; */
    display: flex;
    padding: 0 40px;
    background-color: black;
    justify-content: space-between;
    padding: 1em;
    border-top: 3px solid white;
    border-bottom: 3px solid white;

}

.LinkContainer {
    display: flex;
    gap: 1em;
    align-items: center;
    font-size: 2em;
    color: var(--c5);
}

.LinkContainer a {
    text-shadow: 2px 2px 20px var(--c5);
}

@media screen and (max-width:500px) {
    .Top {
        padding: 1em 1em;
    }

    .LinkContainer {
        font-size: 1.3em;
    }

}