.navbarContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.Top {
    /* border: 1px solid black; */
    display: flex;
    justify-content: right;
    padding: 0 40px;
}

.Botom {
    display: flex;
    background-color: black;
    justify-content: space-around;

}

.Botom a {
    font-size: 2em;
    display: flex;
    /* border: 1px solid white; */
    align-items: center;
    padding: 10px;
    font-weight: 600;
}

.Botom a img {
    width: 50px;
    transform: scale(3);
}